test.*
runtest.sh
*.txt
*.pyc

*.ldif

*.pdf

*.ttl
*.rdf
*.xml
JenaReasoner/bin/tutorial/*
JenaReasoner/.classpath
JenaReasoner/src/tutorial
JenaReasoner/.project
JenaReasoner/.settings/*
FoafMapper.java
defaultmapping

